.header {
  padding-bottom: 41px;
  border-bottom: 1px solid #545454;
  margin: 45px 0 40px;
}

@media (max-width: 767px) {
  .header {
    padding-bottom: 31px;
    margin: 27px -19px 42px;
    width: 320px;
  }
  
}