.place__like-btn {
  width: 22px;
  height: 19px;
  margin-left: 4px;
  background-image: url('../../../images/icons/like.svg');
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.place__like-btn:hover {
  opacity: 0.5;
}