.main_page {
  max-width: 880px;
  margin:0 auto;
}

@media (max-width: 767px) {
.main_page {
    max-width: 320px;
    padding: 0 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
