.modal__close-btn {
  background-color: transparent;
  background-image: url('/images/icons/close.svg');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2px;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 0;
  position: absolute;
  top: -40px;
  right: -40px;
}


@media (max-width: 767px) {
  .modal__close-btn {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
   }
}